<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>WebLabProject</display-name>
  <welcome-file-list>
    <welcome-file>Home01.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LogInRedirect</servlet-name>
    <servlet-class>cse.web.LogInRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInRedirect</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterRedirect</servlet-name>
    <servlet-class>cse.web.RegisterRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterRedirect</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogInAdminRedirect</servlet-name>
    <servlet-class>cse.web.LogInAdminRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInAdminRedirect</servlet-name>
    <url-pattern>/loginadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogInTeacherRedirect</servlet-name>
    <servlet-class>cse.web.LogInTeacherRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInTeacherRedirect</servlet-name>
    <url-pattern>/loginteacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogInStudentRedirect</servlet-name>
    <servlet-class>cse.web.LogInStudentRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInStudentRedirect</servlet-name>
    <url-pattern>/loginstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogInTeacher</servlet-name>
    <servlet-class>cse.web.LogInTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInTeacher</servlet-name>
    <url-pattern>/homeT</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTeacherRedirect</servlet-name>
    <servlet-class>cse.web.AddTeacherRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacherRedirect</servlet-name>
    <url-pattern>/addteacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowCourseStudent</servlet-name>
    <servlet-class>cse.web.ShowCourseStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCourseStudent</servlet-name>
    <url-pattern>/showcourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseRegistration</servlet-name>
    <servlet-class>cse.web.CourseRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseRegistration</servlet-name>
    <url-pattern>/coursereg</url-pattern>
  </servlet-mapping>
</web-app>